//colors
$c_main: #333;
$c_alt: #c33;
$c_border: #ccc;
$c_bg: #e7e7e7;
$c_text: #333;

//fonts
$f_main: 'Bitter', serif;
$f_alt: 'DINCond', sans-serif;


//breakpoints
$sm: 480px;
$md: 768px;
$def: 1024px;
$lg: 1280px;
$mg: 1440px;

